[submodule "libraries/RFM12B"]
	path = libraries/RFM12B
	url = https://github.com/LowPowerLab/RFM12B.git
[submodule "libraries/TemperatureControl"]
	path = libraries/TemperatureControl
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "libraries/Low-Power"]
	path = libraries/Low-Power
	url = git@github.com:rocketscream/Low-Power.git
[submodule "hardware/Moteino"]
	path = hardware/Moteino
	url = https://github.com/LowPowerLab/Moteino
